{% extends 'LaPoizWindBundle:BackOffice:spot.html.twig' %}

{% block bodySpotPage %}

    <div class="row">
        <div class="col-sm-12">
            {% from "LaPoizWindBundle:BackOffice/Spot:navDataWindPrev.html.twig" import navDataWindPrev %}
            {{ navDataWindPrev(spot, dataWindPrev) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="result"></div>
        </div>
    </div>

{% endblock %}
