{% macro navDataWindPrev(spot, dataWindPrev) %}
    <button type="button" class="btn btn-primary"  onClick="test();">Test récupération des données</button>
    <button type="button" class="btn btn-primary">Get and save data</button>
    <button type="button" class="btn btn-primary">Effacer le site {{ dataWindPrev.website.nom }}</button>
    <button type="button" class="btn btn-primary">Historique des analyses</button>
    <button type="button" class="btn btn-primary">Historique des données</button>
{% endmacro %}