{% macro map(spot) %}

    <div class="row">
        <div class="col-sm-12" style="height: 400px" id="map-canvas">
        </div>
    </div>

    <script type="text/javascript">

        var map;
        function initMap() {

            var centerPt={lat: {{ spot.gpsLat }}, lng: {{ spot.gpsLong }} };

            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: centerPt,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            });

            var marker = new google.maps.Marker({
                position: centerPt,
                map: map,
                title: 'Spot'
            });

        }

        function old() {
            var marker = new google.maps.Marker({
                position: spotLatlng,
                map: map,
                title: 'Spot'
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsZg9TbRTh7n4zfPArWf3lqVLdVB1xlko&callback=initMap">
    </script>



{% endmacro %}