body {
    padding-top: 70px;
}
nav {
    text-align: center;
}
#spot_windOrientation {
    display: none;
}

.titreSVG {
    color:#333333;
    font-size: 18px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial;
    line-height: normal
}
.titleLineTableNote {
    vertical-align:middle;
}

.table-note {
    text-align: center;
}

.elemGreen {
    background-color:green;
}
.elemOrange {
    background-color:orange;
}
.elemRed {
    background-color:red;
}

#meteoGraph {
    height: 400px;
}