body {
    padding-top: 70px;
}
nav {
    text-align: center;
}
#spot_windOrientation {
    display: none;
}

.titreSVG {
    color:#333333;
    font-size: 18px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial;
    line-height: normal
}
.titleLineTableNote {
    vertical-align:middle;
}

.table-note {
    text-align: center;
}

.elemGreen {
    color:green;
}
.elemOrange {
    color:orange;
}
.elemRed {
    color:red;
}

#meteoGraph {
    height: 400px;
}

.tableWithoutBorder {
    border: 0px;
}

/* ************* INDEX = HOME PAGE *********** */
.meteo-icon {
    height: 30px;
    width: 35px;
    /*border: 1px dotted red;*/
}
.logoWebsite {
    height: 20px;
    width: 20px;
    margin: 0px;
}