{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">

        <h1>Les spots par régions</h1>

        {% from "LaPoizWindBundle:FrontOffice/Region:regions.html.twig" import view %}
        {{ view(listRegion,listSpotsWithoutRegion) }}


        <h1>Le site LaPoiz.com</h1>
        <p>
            Ce site est fait pour les Kitteurs.<br>
            Le but est de regrouper tous les paramètres pour planifier sa session: force du vent, orientation, marée ...<br>
            Dans le tableau ci-dessous, il est indiqué pour chaque spot, le nombre d'heure de navigation sur 12h théorique (8h -> 20h).
            <br>
            S'il peut être utile pour d'autre activité utilisant le vent: nickel !
            <br><br>
            Vous trouverez dans la rubrique <a href="{{ path('_fo_concept') }}">Le concept du site</a> une explication sur le coeur du site.
            <br>
            Et dans "Les spots" la liste des spots actuellement enregistrés.

        </p>


    </div>

{% endblock %}