{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Page d'accueil du Back office</h1>
        <p class="lead">Toutes les actions possible pour le BO.</p>
    </div>

{% endblock %}