#graph svg {
    width:100%;
    height:100%;
}

/*******************
 Axes du graph
 *******************/
.axesGraph {
    fill:transparent;
    stroke:black;
    stroke-width:2;
}
.dateAxesGraph {
    text-anchor:middle;
    font-size: small;
}
.subAxesDateGraph {
    fill:transparent;
    stroke:black;
    stroke-width:0.5;
    stroke-dasharray: 2, 2;
}
.subAxesNdsGraph {
    fill:transparent;
    stroke:black;
    stroke-width:0.5;
    stroke-dasharray: 2, 2;
}
.ndsAxesGraph {
    text-anchor:middle;
    font-size: small;
}
/**********************
 Deco du graph (nuit, titre ...)
 ***********************/

.titleGrap {
    text-anchor:middle;
    font-size: large;
    font-weight: bold;
}

.nuitGraph{
    stroke:transparent;
    stroke-width:0px;
}
#stop1{
    stop-color:midnightblue;
    stop-opacity:1;
}
#stop2{
    stop-color:transparent;
    stop-opacity:0.5;
}
#stop3{
    stop-color:transparent;
    stop-opacity:0.5;
}
#stop4{
    stop-color:midnightblue;
    stop-opacity:0.5;
}



.cadreLegend {
    fill:transparent;
    stroke:black;
    stroke-width:1;
    rx:2px;
    ry:2px;
}

.rectSiteLegend {

}

.siteUpdateLegend {
    font-style: italic;
    font-size: 10px;
}